.fruits{
    border: 2px solid red;
    background-color: black;
    text-align: center;
    font-size: 20px;
    color: olivedrab;
    padding: 20px;
    margin: 20px;
}
.cars{
    border: 2px solid blue;
    background-color: grey;
    text-align: center;
    font-size: 20px;
    color: darkorchid;
    padding: 20px;
    margin: 20px;
}
.company{
    border: khaki;
    background-color: lightcoral;
    text-align: center;
    font-size: 20px;
    color: #2731e0;
    padding: 20px;
    margin: 20px;
}
.meals{
    border: black;
    background-color: gold;
    text-align: center;
    font-size: 20px;
    color: crimson;
    padding: 20px;
    margin: 20px;
}
.mycontainer div{
    width: 100%;
    float: auto;
}
.mycontainer{
    width: 33%;
    float: left;
}